################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

# Build and Object Folders  
bin/  
obj/  
  
# Nuget packages directory  
packages/  

#Logs
logs/
.vs/ 

#editor
wwwroot/

# User-specific files  
*.suo  
*.user  
*.sln.docstates  
